html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  width: 100vw;
  height: 20vh;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
color: white;
text-align:center;
padding-top: 10%;

}

#social-icons {
  background-color: #fff;
  padding: 10px;
}

#social-icons a img {
  width: 40px;
  height: 40px;
}

nav {
border-style: double;
  background-color: white;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 10px;
}

nav a {
  color: black;
  margin-right: 8vw;
  margin-left: 8vw;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

#main-section {
  background-image: url("frost.png");
  background-size: 100% 140%;
  background-repeat: no-repeat;
}

#main-section div p {
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px 50px 0 50px;
  width: 40vw;
  /* height: 300px; */
  background-color: cornsilk;
  border-style: dotted;
  border-color: cornsilk;
  font-family: sans-serif;
  font-size: medium;
  font-weight: bolder;
}

#store {
  display: flex;
  background-color: #c0c0c0;
  position:relative;
  text-align: center;
  flex-wrap: wrap;
}

#store .item {
  margin: 7px;
}

#store .item img {
  width: 300px;
  height: 200px;
}

#store .item:nth-child(1) {
  background-color: black;
}

#store .item:nth-child(2) {
  background-color: black;
}

#store .item:nth-child(3) {
  background-color: black;
}

#store .item:nth-child(4) {
  background-color: black;
}

#store .item h2 {
  /* position: absolute; */
  bottom: 15%;
  color: rgb(255, 255, 255);
}

#store .item hr {
  border: 1px solid white;
}

#family-section {
  background-image: url("043189130553681.6182b7d097975.png");
  /* background-size: 100vw 100vh; */
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#family-section .family-item p {
  width: 20vw;
}

#family-section .family-item h3 {
  color: rgb(255, 230, 0);
}

#family-section .family-item p {
  color: white;
}

#family-section .family-item img 
{
  width: 200px;
  height: 200px;
}

footer {
  padding: 20px 0 40px 20px;
  background-color: #447f8a;
  
}

footer p {
  margin: 0px;
  font-weight: bold;
  font-style: oblique;
}
